<div class="job-container">
    <div class="job-img-container">
        <img src="./../../../../assets/img/repair.jpg" alt="" class="full-img">
    </div>
    <div class="job-details-container">
        <div class="row">
            <h4 class="helper-type">House-master / Plumber</h4>
            <h3 class="price">15000FCFA</h3>
        </div>
        <div class="date-row">
            <ul class="datelist">
                <li class="iconing-left time">09.04.20</li>
                <li class="iconing-left time">19:34-19:54</li>
            </ul>
        </div>
        <h5 class="location iconing-left">Bali, Hotel Serena</h5>
        <h2 class="job-title">Help me to repair my house</h2>
        <p class="job-desc">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <div class="creation-row">
            <div class="creation">
                <p class="creator">Created by <span class="creator-name">Excel Durant</span></p>
                <p class="date-created">2 days ago</p>
            </div>
            <button class="locate-btn">
                <img src="./../../../../assets/img/locate.png" alt="" class="full-img">
            </button>
        </div>
    </div>
</div>