@import './../../../../varia.scss';

.proposal-container {
    display: flex;
    width: 90%;
    border: 1px solid var(--lightblack);
    padding-bottom: 10px;
    .profile-pic-container {
        width: 8%;
        height: 70px;
        border: 1px solid var(--black);
        border-radius: 50%;
        margin-right: 2%;
    }
    .main-column {
        width: auto;
        // margin-right: 1%;
    }

    @media only screen and (max-width: 600px) {
        width: 95%;
        margin: 0 auto;
        .profile-pic-container {
            width: 160px;
        }
    }
}

.basic {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .helper-name {
        margin: 5px 0;
        color: var(--black);
    }
    .rating {
        margin: 0;
        margin-bottom: 5px;
        color: var(--black);
        &::before {
            content: '\f005';
            color: rgb(255, 217, 0);
        }
    }
    .price {
        height: 30px;
        font-size: 20px;
        font-weight: 500;
        color: var(--white);
        padding: 3px 15px;
        margin-top: 10px;
        background-color: var(--blue);
        border-radius: 5px;
    }
}

.essential {
    display: flex;
    .desc-container {
        .desc {
            font-size: 18px;
            color: var(--lightblack);
            margin: 0;
            margin-bottom: 5px;
            font-size: 13px;
            text-align: left;
            width: 70%;
        }
        .phone {
            margin: 0;
            margin-bottom: 5px;
            color: var(--black);
            font-weight: 900;
            font-size: 14px;
            &::before {
                content: '\f098';
                color: var(--green);
            }
        }
        .reply {
            color: var(--blue);
            font-weight: 500;
            margin-bottom: 5px;
        }
    }
    .select {
        width: 200px;
        height: 30px;
        text-align: center;
        padding: 5px 10px;
        color: var(--white);
        background-color: var(--green);
        border-radius: 20px;
    }

    @media only screen and (max-width: 600px) {
        flex-direction: column;
        .desc-container{
            .desc {
                width: 90%;
            }
        }
        .select {
            margin: 10px auto;
        }
    }
}