$blue: #143BA0;
$grey: #D2D8DF;
$green: #007D14;
$lightGrey: #F5F5F5;
$blackborder: 1px solid black;

a {
    display: inline-block;
    text-decoration: none;
}

.full-img {
    width: 100%;
    height: 100%;
}