@import './../../../varia.scss';

.header {
    width: 100%;
    height: 80px;
    box-shadow: 0px 1px 9px var(--shadowcolor);
    background-color: var(--theme);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        color: var(--black);
        font-size: 30px;
        margin-left: 2%;
    }

    .navbar {
        display: flex;
        align-items: center;
        margin-right: 2%;
        .navlist {
            display: flex;
            justify-content: space-between;
            list-style: none;
            .navlink {
                color: var(--blue);
                padding: 10px 25px;
                &:hover {
                    background-color: var(--lightblue);
                }
            }
        }
        .toggle-theme {
            display: inline-block;
            background: none;
            width: 40px;
            height: 20px;
            border: none;
            cursor: pointer;
            border-radius: 10px;
            background-color: white;

            &:hover {
                background-color: var(--lightblue);
            }
        }
    }
}