@import './../../../varia.scss';

.header {
    width: 100%;
    height: 80px;
    box-shadow: 0px 1px 9px var(--shadowcolor);
    background-color: var(--theme);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        color: var(--black);
        font-size: 30px;
        margin-left: 2%;
        cursor: pointer;
    }

    .navbar {
        display: flex;
        align-items: center;
        margin-right: 2%;
        .navlist {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            .navuser {
                margin-top: 10px;
                margin-right: 50px;
                color: var(--blue);
                position: relative;
                &::after {
                    content: '\f0e0';
                    color: var(--blue);
                    position: absolute;
                    margin-left: 7px;
                    cursor: pointer;
                    font-size: 30px;
                }
            }
            .navlink {
                color: var(--blue);
                padding: 10px 35px;
                font-size: 15px;
                border: 1px solid var(--blue);
                border-radius: 20px;
                margin-right: 10px;
                cursor: pointer;
                &:hover {
                    background-color: var(--lightblue);
                }
            }
            // .hide {
            //     display: none;
            // }
            // .show {
            //     display: inline-block;
            // }
            // .hidden {
            //     display: none;
            // }
        }
        .hide {
            display: none;
        }
        .toggle-theme {
            display: inline-block;
            background: none;
            width: 40px;
            height: 20px;
            border: none;
            cursor: pointer;
            border-radius: 10px;
            background-color: white;

            &:hover {
                background-color: var(--lightblue);
            }
        }
    }
}