<header class="header">
    <h1 class="logo">Ask4help</h1>
    <nav class="navbar">
        <ul class="navlist">
            <li><a href="#" class="navlink">login</a></li>
            <li><a href="#" class="navlink">signup</a></li>
        </ul>
        <button *ngIf="theme == 'theme-dark'" 
         (click)="changeTheme('theme-light')" class="toggle-theme">
            <img src="./../../../assets/img/dark-removebg-preview.png" alt="" class="full-img">
        </button>
        <button *ngIf="theme == 'theme-light'"
         (click)="changeTheme('theme-dark')" class="toggle-theme">
         <img src="./../../../assets/img/light-removebg-preview.png" alt="" class="full-img">
        </button>
    </nav>
</header>
