<div class="page-container">
    <section class="main-sec">
        <div class="txt-container">
            <h2 class="main-title">Create a Project and Get Help</h2>
            <p class="main-txt">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse iure
                impedit fuga quas minima! Animi hic veritatis,
                impedit facilis placeat porro
            </p>
            <div class="links-container">
                <a href="#" class="mainlink">Ask for Help</a>
                <a href="#" class="mainlink" routerLink="/beHelper">Be a Helper</a>
            </div>
        </div>
    </section>

    <section class="bottom-sec">
        <p class="bottom-txt copyright">&#169; 2020 Ask4Help Inc. All rights reserved</p>
        <p class="bottom-txt">Privacy</p>
        <p class="bottom-txt">Terms</p>
    </section>
</div>